/* Main css for the website */
/* Headings */
.russo-one-regular {
    font-family: "Russo One", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* Paragraphs */
.special-elite-regular {
    font-family: "Special Elite", system-ui;
    font-weight: 100;
    font-style: normal;
}

html {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    
}

body{

}

h1 {
    margin-top: 5rem;
    text-shadow: 2px 4px 6px #c4c4c4;
    font-size: 5rem;
    font-family: "Special Elite";
}

h2 {
    font-size: 1rem;
    font-family: "Russo One";
    color: #000000;
    line-height: 4;
}

header {
    height: 30rem;
    background-image: url("../images/pachkaSigaret.png"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

section { 
    margin-top: 5rem; 
    font-family: "Russo One";
    text-shadow: 0px 2px 4px #c4c4c4;
    border-style: dashed;
    border-color: #ffffff;
}

aside {
    display: inline-block; 
    width: 45%; 
    border: 2px solid #ffffff;
    margin: 10px;
    font-family: "Russo One";
    padding: 10px;
    vertical-align: top; 
    text-align: justify; 
    line-height: 1.5;
}
