/* Main css for the website */
/* Headings */
/* Note: Some selectors could be replaced by simpler ones, just felt like using them to not get rusty */
.russo-one-regular {
    font-family: "Russo One", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* Paragraphs */
.special-elite-regular {
    font-family: "Special Elite", system-ui;
    font-weight: 100;
    font-style: normal;
}

/* "Universal" rule for all elements in html*/
html {
    background-color: #000000;
    color: hsl(0 0% 100%);
    text-align: center;
    border-style: double;
    border-color: hsl(0 0% 100%);
    border-width: 10px;

}

/* Set an image to "everything"/body background */
body {
    background-image: url("../images/blackBrickWall.jpg");
}

/* Title rules */
body>h1 {
    margin-top: 5rem;
    text-shadow: 2px 4px 6px #c4c4c4;
    font-size: 5rem;
    font-family: "Special Elite";
}

/* In image content */
h2 {
    font-size: 1rem;
    font-family: "Special Elite";
    color: #000000;
    line-height: 4;
    text-shadow: 4px 6px 6px #000000;
}

/* Space for the image */
header {
    display: flex;
    height: 35rem;
    background-image: url("../images/pachkaSigaret.png");
    /* stretch the image to cover, and center it, no repeat */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* center text in header with flex */
    justify-content: center;
    align-items: center;
}

/* Line break */
/* Forgot to cite this, it was a google search on how to add breaks without doing border method, and this came out */
hr {
    border-top: 3px solid #c4c4c4;
    margin: 3rem 0;
}

/* Lyrics sections */
figure section {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    font-family: "Russo One";
    text-shadow: 0px 2px 4px #c4c4c4;
    color: #c4c4c4;
    border-style: dashed;
    border-color: hsl(0 0% 100%);
    background-image: url("../images/blackSky3.webp");
    background-size: cover;
}

/* Every second section for lyrics */
section:nth-child(2n) {
    background-image: url("../images/blackBrickWall.jpg");
    border-width: 3px;
    background-color: dimgrey;
    color: hsl(0 0% 100%);
    text-shadow: 4px 6px 8px #000000;
}

/* Add a bit of space for the caption after lyrics */
section+figcaption {
    margin-top: 2rem;
}

/* Song description + my thoughts section */
aside {
    display: inline-block;
    width: 45%;
    border: 2px solid hsl(0 0% 100%);
    margin: 10px;
    font-family: "Russo One";
    padding: 10px;
    vertical-align: top;
    text-align: justify;
    line-height: 2.5;
    background-color: dimgrey;
    background-image: url("../images/blackSky.jpg");
    background-size: cover;
    color: #c4c4c4;
    text-shadow: 4px 6px 8px #000000;
}

/* Footer styling */
footer {
    margin-top: 2rem;
    padding: 2rem 0;
    text-align: center;
    font-size: 0.9rem;
    color: dimgrey;
}

/* Footer links */
footer a {
    color: #c4c4c4;
    text-decoration: none;
}

/* Footer links on on hover */
footer a:hover {
    text-decoration: underline;
    color: hsl(0 0% 100%);
}

/* Make the list very basic */
ul {
    list-style-type: none;
    padding: 0;
}

/* For fun, everytime the name of the song is mentioned in the song do something */
b {
    font-family: "Special Elite", system-ui;
    font-weight: 300;
    font-style: italic;
    color: rgb(29, 54, 144);
}

b:hover {
    color: hsl(0 0% 100%);
    text-shadow: 2px 4px 6px #c4c4c4;
}

h2>b:hover {
    color: #000000;
    text-shadow: 0 0 0 #000000;
    color: #000000;
}

h2>b {
    color: #000000
}

/* For fun, everytime the name of the group is mentioned in the website do something */
i {
    font-family: "Special Elite", system-ui;
    font-weight: 500;
    font-style: oblique;
    color: rgb(144, 131, 29);
}

i:hover {
    color: hsl(0 0% 100%);
    text-shadow: 2px 4px 6px #c4c4c4;
}

h2>i:hover {
    color: #000000;
    text-shadow: 0 0 0 #000000;
    color: #000000;
}

h2>i {
    color: #000000
}