/* Main css for the website */
/* Headings */
.russo-one-regular {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Paragraphs */
.special-elite-regular {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

html {
    background-color: #000000;
    color: #ffffff;
}
