html {
    position: relative;
    font-family: 'Arial', sans-serif;
}
#container {
    margin: 3rem;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
main {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 6rem;
}
main > aside:nth-of-type(1) {
    grid-row: 1;
    grid-column: 1;
    padding-top: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-right: 1px solid black;
    font-size: 3rem;
    line-height: 5rem;
}
main > aside:nth-of-type(1) > p > a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
main > article:nth-of-type(1) {
    grid-row: 1;
    grid-column: 2;
}
main > aside:nth-of-type(2) {
    grid-row: 2;
    grid-column: 1;
    background-color: lightgrey;
    margin-left: -2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;;
}
main  aside:nth-of-type(2)  h2 {
    font-size: 3rem;
    color: red;
}
main  aside:nth-of-type(2)  h2::before {
    font-size: 8rem;
    color: black;
    content: "+ ";
}
main  aside:nth-of-type(2)  ul {
    list-style-type: "     + ";
    padding-left: 2rem;
}
main  aside:nth-of-type(2)  ul  li {
    padding-left: 1rem;
}
main  aside:nth-of-type(2)  ul  li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
main > article:nth-of-type(2) {
    grid-row: 2;
    grid-column: 2;
}
main  article:nth-of-type(2) p a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
main  article:nth-of-type(2) mark {
    background-color: lightgrey;
}
article {
    text-align: justify;
    font-size: 2rem;
    line-height: 2.5rem;
}
aside {
}
em {
    font-style: normal;
}
h1 {
    font-size: 10rem;
    text-transform: lowercase;
    margin: 0;
    position: absolute;
    top: 0.96rem;
    left: 2.29rem;
}
h1 > em {
    color: red;
}
h1 + p {
    font-size: 1.9rem;
    text-transform: uppercase;
    position: absolute;
    top: -1rem;
    left: 3rem;
}
article:nth-of-type(1) > img {
    width: 15%;
    height: auto;
    position: absolute;
    top: 3rem;
    left: 98.2rem;
}
article:nth-of-type(2) > img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: -25rem;
    margin-bottom: 3rem;
}
article:nth-of-type(1) > h2 {
    font-size: 6rem;
    margin: 0;
    color: red;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
article:nth-of-type(2) > h2 {
    font-size: 5rem;
    margin: 0;
}
footer {
    position: absolute;
    bottom: 0;
    left: 3rem;
}
footer p small em {
    font-size: 1.5rem;
    font-weight: bold;
}
footer p small abbr {
    font-weight: bolder;
}



