@charset "UTF-8";

/* begin normalize/reset ------------------ */
/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

html {
    overflow-x: hidden;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    font-size: 100%;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
}

/* Make images easier to work with */
img {
    display: block;
    max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* -------------------------------------- */
:root {
    --bg-deep: rgba(24, 21, 38, 1);
    --purple-main: rgba(45, 40, 72, 1);
    --gold-accent: rgba(197, 177, 80, 1);
    --maroon: rgba(119, 32, 51, 1);
    --text-main: rgba(230, 230, 235, 1);
}

/* Fonts */
/* regular text */
.marcellus-regular {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
}

/* title */
.cinzel-decorative-regular {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
}

.cinzel-decorative-bold {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
}

.cinzel-decorative-black {
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
    font-style: normal;
}

/* very unique */
.uncial-antiqua-regular {
    font-family: "Uncial Antiqua", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* set overall background + text color */
html {
    background-color: var(--purple-main);
    color: var(--text-main);
    font-family: Cinzel Decorative, serif;
}

/* Remove skip link */
.skip-link {
    position: absolute;
    top: -40px;
}

/* center everything give it room to breathe */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* remove all link decorations */
a {
    text-decoration: none;
    color: var(--maroon);
    font-weight: 800;
}

header>.container {
    background-image: url("../adds/CjPKUxug.png");
    background-size: cover;
    background-position: center;
    border-radius: 300px 300px 200px 200px;
    /* Found this online: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/corner-shape */
    corner-shape: scoop;
    /* border: 20px solid var(--gold-accent); */
    box-shadow: inset 20px 30px 60px rgba(230, 230, 235, 0.21), 10px 20px 40px rgba(0, 0, 0, 0.45);
}

header h2:first-of-type {
    margin-top: 34rem;
    display: inline-flex;
    align-items: center;
    padding: 1rem 4rem;
    background-color: var(--purple-main);
    color: var(--text-main);
    font-weight: 700;
    border-radius: 0px 4px 12px 0px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.45);
    border: 2px solid rgba(119, 32, 51, 0.20);
    margin-bottom: 4rem;
}

header p:first-of-type {
    
    margin-top: -1rem;
    background-color: var(--purple-main);
    display: block;
    align-items: center;
    padding: 1rem 4rem;
    background-color: var(--purple-main);
    color: var(--text-main);
    font-weight: 700;
    border-radius: 0px 4px 12px 0px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.45);
    border: 2px solid rgba(119, 32, 51, 0.20);
    margin-bottom: 2rem;
    width: fit-content;
}

/* make the github link with the star, look like a cool button */
.link-github {
    display: inline-block;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: var(--purple-main);
    color: var(--text-main);
    font-weight: 700;
    border-radius: 0px 4px 12px 0px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.45);
    border: 2px solid rgba(119, 32, 51, 0.20);
    margin-bottom: 2rem;
}

/* first 3 letters deep purple, then 1 letter lighter purple, then 1 letter maroon, mirron from right */
h1 {
    position: relative;
    font-size: 10rem;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 5rem;
    /* gradient covers the text */
    background: linear-gradient(to right,
            var(--bg-deep) 5%,
            var(--bg-deep) 20%,
            var(--purple-main) 35%,
            var(--maroon) 40%,
            var(--gold-accent) 47%,
            var(--maroon) 60%,
            var(--purple-main) 65%,
            var(--bg-deep) 90%,
            var(--bg-deep) 100%);
    /* limit the bg size so we can properly cover text */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    color: transparent;

    /* outline */
    -webkit-text-stroke: 2px var(--bg-deep);
}



/* make star proprly sized */
span svg {
    width: 20px;
    height: 20px;
    fill: var(--gold-accent);
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
    padding: 2rem;
    list-style: none;
    background: linear-gradient(225deg, var(--purple-main), var(--bg-deep));
    border-radius: 5px;
    box-shadow: 5px 20px 40px rgba(0, 0, 0, 0.45);
    border: 2px solid rgba(119, 32, 51, 0.20);
}

nav ul li {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

nav ul a {
    display: grid;
    place-items: center;
    width: 100%;
    text-align: center;
    /* spacing */
    position: relative;
    padding: 1rem 5rem;
    /* border/bg */
    background-color: var(--purple-main);
    box-shadow: 10px 15px 15px var(--maroon);
    border-radius: 10px 25px 10px 25px;
}

/* begin anim stuff -----------------------*/
nav ul a::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../adds/smallRedG.png");
    background-size: 50px 25px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
}

nav ul a:hover::after {
    opacity: 1;
    animation: growPulse 2.5s ease-in-out infinite;
    content: "I Order You To Click !";
}

/* resource */
@keyframes growPulse {
    0% {
        transform: scale(1.25);
    }

    20% {
        transform: scale(1.50);
    }

    40% {
        transform: scale(1.45);
    }

    60% {
        transform: scale(1.56);
    }

    80% {
        transform: scale(1.58);
    }

    100% {
        transform: scale(1.50);
    }
}

/* end pulse anim --------------------------*/
























@media (max-width: 600px) {
    .container {
        padding: 0 1rem;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    header h1 {
        font-size: 1.8rem;
    }

    header h2 {
        font-size: 1.1rem;
    }

    .link-github,
    .link-guidelines,
    .link-downloadcss,
    .link-downloadhtml,
    .link-codepen,
    .link-allstyles {
        display: block;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
    }

    footer .container ul {
        flex-direction: column;
        padding: 0;
    }

    .profile ul,
    .features {
        padding: 0;
    }
}